.nav-bar{
  padding-left: 20px;
  padding-right: 20px;
  /* position: sticky; */
}

.bg-blueBg{
  background-color: #22577E;
}

.nav-logo-img{
  width: 150px;
  padding: 0;
}

.nav-link{
  margin: 5px;
}
@media (min-width: 576px){
  .navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
  }
}
